.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.menu_list{
    display: flex;
    align-items: center;
}

.menu_item {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}
.menu_link{
    text-decoration: none;
}

.phone-number{
    font-size: 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.phone-number__icon-elem{
    height: 14px;
    width: 14px;
    margin-right: 6px;
}